a {
    color: blueviolet;
    text-decoration: none;
}
p {
    background-color: black;
}
.btn {
    color: #fff;
    background-color: black;
}
#btn {
    color: rgb(0,0,255);
    background-color: white;
}
/* Pseudo-Class Selector */
a:hover {
    color: orange;
}